.section-top {
    padding: 40px 0 57px;

    .tt-h1 {
        padding: 0 25px;
    }

    .chapo {
        margin-top: 12px;
    }

    .cta {
        margin-top: 30px;
    }
}

.section-steps {
    padding: 48px 0 68px;
    background-color: $bg-light;
    text-align: left;
}