$num-cards: 3;
$anim-dur: 1200ms;
$anim-delay: calc($anim-dur / $num-cards);

@keyframes show-card {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.section-menu {
    .visuel {
        height: 275px;
    }

    .box-bg {
        position: relative;
        margin-top: -55px;
        padding: 32px 0 40px;
        background-color: $bg-color;
        border-radius: 40px 40px 0 0;
        text-align: left;
    }

    .menu-top {
        @extend .d-flex-center-btw;
        padding-right: 23px;
    }

    .menu-part {
        padding-top: 27px;

        & + .menu-part {
            padding-top: 40px;
        }

        .card {
            @extend .d-flex-bot-btw;
            margin-top: 12px;
            overflow: hidden;
            transform: translateY(-69px);
            opacity: 0;
            animation: show-card $anim-dur ease-out forwards;

            &.show-1 {
                @include animation-mixin($anim-delay);
            }

            &.show-2 {
                @include animation-mixin($anim-delay, $anim-dur * 1.2);
            }

            &.show-3 {
                @include animation-mixin($anim-delay, $anim-dur * 2.4);
            }
        }

        .plate {
            flex-grow: 1;
            padding: 12px 0 12px 15px;
            overflow: hidden;

            .tt-h3, 
            .paragraph {
                @include long-text;
            }
            
            .paragraph {
                margin-top: 5px;
            }
        }

        .price {
            padding: 12px 15px 12px 10px;
            font-size: $font-size-small;
            color: $text-alt-color;
            font-weight: 700;
            line-height: 18px;
        }
    }

    .cta {
        margin-top: 40px;
        text-align: center;
    }

    @include md {
        .box-bg {
            width: 73.3%;
            max-width: 1055px;
            margin: -40px auto 0;
            padding-top: 51px;
        }

        .container {
            padding: 0 20%;
        }

        .menu-top {
            justify-content: center;
            padding-right: 0;

            .fav {
                margin-left: 24px;
            }
        }

        .menu-part {
            padding-top: 40px;
        }
    }

    @include lg {
        .visuel {
            height: 383px;
        }
    }
}