body {
  background-color: #F6F6F6;
  text-align: center;
}
body.pg-index {
  overflow: hidden;
  animation: no-scroll 6s forwards;
}

@keyframes no-scroll {
  0%, 99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, button {
  border: 0;
}

button {
  cursor: pointer;
}

ul li, ol li {
  list-style: none;
}

a:focus, input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding: 0 40px;
  }
  .container.smaller {
    max-width: 1160px;
  }
}

.box-large {
  position: relative;
  width: 100%;
}

.hidetext {
  font-size: 0;
  line-height: 0;
  display: block;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i {
  display: inline-flex;
}

.d-flex, .d-flex-col, .d-flex-col-center, .d-flex-bot-btw, .section-menu .menu-part .card, .d-flex-bot, .selection, .d-flex-center-btw, .section-menu .menu-top, .d-flex-center-center, .section-steps .steps-list .step-item::before, .overlay .loader, .overlay, .selection .check i, .selection .check, .btn, .location, .header-top, .d-flex-center, .section-steps .steps-list .step-item {
  display: flex;
}

.d-flex-center, .section-steps .steps-list .step-item {
  align-items: center;
}

.d-flex-center-center, .section-steps .steps-list .step-item::before, .overlay .loader, .overlay, .selection .check i, .selection .check, .btn, .location, .header-top {
  align-items: center;
  justify-content: center;
}

.d-flex-center-btw, .section-menu .menu-top {
  align-items: center;
  justify-content: space-between;
}

.d-flex-bot, .selection {
  align-items: flex-end;
}

.d-flex-bot-btw, .section-menu .menu-part .card {
  align-items: flex-end;
  justify-content: space-between;
}

.d-flex-col, .d-flex-col-center {
  flex-direction: column;
}

.d-flex-col-center {
  align-items: center;
}

.d-inl-flex, .section-restaurants .list-restaurants .sticker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.428571429;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.tt-h1,
.tt-h2 {
  font-size: 24px;
  line-height: 28px;
}

.tt-h3 {
  font-size: 18px;
  line-height: 21px;
}

.section-menu .tt-h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
.section-menu .tt-h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 19px;
}
.section-menu .tt-h2::after {
  content: "";
  width: 40px;
  height: 3px;
  margin-top: 6px;
  background-color: #99E2D0;
  display: block;
}
.section-menu .tt-h3 {
  font-weight: 500;
}

.paragraph {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
.section-menu .paragraph {
  font-size: 15px;
  line-height: 18px;
}

.chapo {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

a, button {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .tt-h1 {
    font-size: 40px;
    line-height: 47px;
  }
}
.header {
  background-color: #fff;
}
.header-top {
  position: relative;
  height: 63px;
}
.header .link {
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
}
.header .link-back {
  display: flex;
  font-size: 22px;
  color: #353535;
}
.header-logo {
  width: 162px;
}
@media (min-width: 768px) {
  .header-top {
    height: 96px;
  }
  .header-logo {
    width: 200px;
  }
}

.location {
  padding: 0 20px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.location i {
  margin-right: 17px;
}
@media (min-width: 768px) {
  .location {
    box-shadow: none;
  }
}

.footer {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #353535;
  text-align: left;
  line-height: 26px;
  white-space: nowrap;
}
.footer a {
  color: #fff;
}
.footer-logo a {
  font-family: "Shrikhand", serif;
  font-size: 18px;
}
.footer-links {
  margin-top: 16px;
}
.footer-links-icon a {
  font-weight: 500;
}
.footer-links-icon i {
  width: 12px;
  margin-right: 12px;
  font-size: 14px;
}
.footer-links-icon i.fa-handshake-angle {
  font-size: 11px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    height: 114px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer ul {
    display: flex;
  }
  .footer ul ul li + li {
    margin-left: 15px;
  }
  .footer-links {
    margin-top: 6px;
  }
  .footer-links-general {
    margin-left: 45px;
  }
  .footer-links-icon {
    order: 2;
  }
}
@media (min-width: 1024px) {
  .footer {
    align-items: unset;
    padding-bottom: 30px;
  }
  .footer .container {
    flex-direction: row-reverse;
    align-items: self-end;
  }
  .footer-links-general {
    margin: 0 90px 0 0;
  }
  .footer-links-icon {
    margin-right: 45px;
  }
}

.btn {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  display: inline-flex;
  height: 50px;
  padding: 0 19px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  color: #fff;
}
.btn-large {
  padding: 0 49px;
}
.btn:hover {
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card .visuel {
  height: 175px;
}
.card .texte {
  padding: 16px 13px;
}
.card .texte .paragraph {
  margin-top: 5px;
}
a.card {
  display: block;
}

.list-restaurants .card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.list-restaurants .card .fav {
  position: absolute;
  bottom: 33px;
  right: 25px;
}
@media (min-width: 768px) {
  .card .texte {
    padding-right: 19px;
    padding-left: 19px;
  }
}

.fav {
  position: relative;
  width: 23px;
  height: 21px;
  z-index: 50;
  cursor: pointer;
}
.fav .like, .fav .like span {
  position: absolute;
  width: 23px;
  height: 21px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.fav .like span::after {
  content: "";
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  display: block;
}
.fav .like span.lk-off {
  opacity: 1;
}
.fav .like span.lk-off::after {
  background-image: url(../images/like.svg);
}
.fav .like span.lk-on {
  opacity: 0;
}
.fav .like span.lk-on::after {
  background-image: url(../images/like-on.svg);
}
.fav .like:hover .lk-off, .fav .like span:hover .lk-off {
  opacity: 0;
}
.fav .like:hover .lk-on, .fav .like span:hover .lk-on {
  opacity: 1;
}
.fav input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.fav input[type=checkbox]:checked + .like .lk-off, .fav .like input[type=checkbox]:checked + span .lk-off {
  opacity: 0;
}
.fav input[type=checkbox]:checked + .like .lk-on, .fav .like input[type=checkbox]:checked + span .lk-on {
  opacity: 1;
}

.selection {
  cursor: pointer;
}
.selection::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}
.selection .check {
  width: 59px;
  height: 69px;
  margin-right: -60px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition: all 0.3s ease-out;
}
.selection .check i {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 15px;
  color: #99E2D0;
}
.selection input[type=radio] {
  position: absolute;
  opacity: 0;
}
.selection input[type=radio]:checked ~ .check {
  margin-right: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  animation: show-anim 6s forwards;
}
.overlay .loader {
  gap: 7px;
}
.overlay .loader .dot {
  width: 20px;
  height: 20px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 5px;
  animation: wave 1.5s infinite;
}
.overlay .loader .dot:nth-child(1) {
  animation-delay: 0.2s;
}
.overlay .loader .dot:nth-child(2) {
  animation-delay: 0.4s;
}
.overlay .loader .dot:nth-child(3) {
  animation-delay: 0.6s;
}
.overlay .loader .dot:nth-child(4) {
  animation-delay: 0.8s;
}
.overlay .loader .dot:nth-child(5) {
  animation-delay: 1s;
}
.overlay .loader .dot:nth-child(6) {
  animation-delay: 1.2s;
}

@keyframes show-anim {
  0%, 100% {
    opacity: 0;
  }
  1%, 95% {
    z-index: 100;
    opacity: 1;
  }
}
@keyframes wave {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    opacity: 0.3;
    transform: translate(-2px, -5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.section-top {
  padding: 40px 0 57px;
}
.section-top .tt-h1 {
  padding: 0 25px;
}
.section-top .chapo {
  margin-top: 12px;
}
.section-top .cta {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .section-top {
    padding: 30px 0;
  }
  .section-top .chapo {
    margin-top: 30px;
  }
}

.section-steps {
  padding: 48px 0 68px;
  background-color: #fff;
  text-align: left;
}
.section-steps .steps-list {
  margin-top: 25px;
  counter-reset: steps-counter;
}
.section-steps .steps-list .step-item {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  height: 72px;
  margin-left: 13px;
  padding-left: 34px;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}
.section-steps .steps-list .step-item + .step-item {
  margin-top: 25px;
}
.section-steps .steps-list .step-item::before {
  content: counter(steps-counter);
  counter-increment: steps-counter;
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 24px;
  font-size: 14px;
  color: #F6F6F6;
  font-weight: 500;
}
.section-steps .steps-list .step-item i {
  width: 18px;
  margin-right: 20px;
  font-size: 18px;
  color: #7E7E7E;
}
.section-steps .steps-list .step-item-1 i {
  font-size: 20px;
}
.section-steps .steps-list .step-item-2 i {
  font-size: 19px;
}
.section-steps .steps-list .step-item:hover i {
  color: #9356DC;
}
@media (min-width: 768px) {
  .section-steps .container {
    max-width: 480px;
  }
}
@media (min-width: 1024px) {
  .section-steps {
    padding: 50px 0;
  }
  .section-steps .container {
    max-width: 1160px;
  }
  .section-steps .steps-list {
    display: flex;
  }
  .section-steps .steps-list .step-item {
    flex-grow: 1;
    max-width: 322px;
  }
  .section-steps .steps-list .step-item + .step-item {
    margin: 0 0 0 37px;
  }
}

.section-restaurants {
  padding: 54px 0 66px;
  text-align: left;
}
.section-restaurants .list-restaurants {
  margin-top: 20px;
}
.section-restaurants .list-restaurants .card + .card {
  margin-top: 18px;
}
.section-restaurants .list-restaurants .sticker {
  height: 29px;
  padding: 0 12px;
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  position: absolute;
  top: 13px;
  right: 12px;
}
@media (min-width: 768px) {
  .section-restaurants {
    padding: 30px 0;
  }
  .section-restaurants .list-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 28px;
  }
  .section-restaurants .list-restaurants .card {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 45%;
    max-width: 490px;
  }
  .section-restaurants .list-restaurants .card + .card {
    margin: 0;
  }
  .section-restaurants .list-restaurants .sticker {
    right: 17px;
  }
}
@media (min-width: 1024px) {
  .section-restaurants .list-restaurants {
    gap: 50px;
  }
}

@keyframes show-card {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.section-menu .visuel {
  height: 275px;
}
.section-menu .box-bg {
  position: relative;
  margin-top: -55px;
  padding: 32px 0 40px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  text-align: left;
}
.section-menu .menu-top {
  padding-right: 23px;
}
.section-menu .menu-part {
  padding-top: 27px;
}
.section-menu .menu-part + .menu-part {
  padding-top: 40px;
}
.section-menu .menu-part .card {
  margin-top: 12px;
  overflow: hidden;
  transform: translateY(-69px);
  opacity: 0;
  animation: show-card 900ms ease-out forwards;
}
.section-menu .menu-part .card.show-1:nth-child(1) {
  animation-delay: 300ms;
}
.section-menu .menu-part .card.show-1:nth-child(2) {
  animation-delay: 600ms;
}
.section-menu .menu-part .card.show-1:nth-child(3) {
  animation-delay: 900ms;
}
.section-menu .menu-part .card.show-1:nth-child(4) {
  animation-delay: 1200ms;
}
.section-menu .menu-part .card.show-2:nth-child(1) {
  animation-delay: 1380ms;
}
.section-menu .menu-part .card.show-2:nth-child(2) {
  animation-delay: 1680ms;
}
.section-menu .menu-part .card.show-2:nth-child(3) {
  animation-delay: 1980ms;
}
.section-menu .menu-part .card.show-2:nth-child(4) {
  animation-delay: 2280ms;
}
.section-menu .menu-part .card.show-3:nth-child(1) {
  animation-delay: 2460ms;
}
.section-menu .menu-part .card.show-3:nth-child(2) {
  animation-delay: 2760ms;
}
.section-menu .menu-part .card.show-3:nth-child(3) {
  animation-delay: 3060ms;
}
.section-menu .menu-part .card.show-3:nth-child(4) {
  animation-delay: 3360ms;
}
.section-menu .menu-part .card:hover .selection .check {
  margin-right: 0;
}
.section-menu .menu-part .plate {
  flex-grow: 1;
  padding: 12px 0 12px 15px;
  overflow: hidden;
}
.section-menu .menu-part .plate .tt-h3,
.section-menu .menu-part .plate .paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-menu .menu-part .plate .paragraph {
  margin-top: 5px;
}
.section-menu .menu-part .price {
  padding: 12px 15px 12px 10px;
  font-size: 15px;
  color: #353535;
  font-weight: 700;
  line-height: 18px;
}
.section-menu .cta {
  margin-top: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-menu .box-bg {
    width: 73.3%;
    max-width: 1055px;
    margin: -40px auto 0;
    padding-top: 51px;
  }
  .section-menu .container {
    padding: 0 20%;
  }
  .section-menu .menu-top {
    justify-content: center;
    padding-right: 0;
  }
  .section-menu .menu-top .fav {
    margin-left: 24px;
  }
  .section-menu .menu-part {
    padding-top: 40px;
  }
}
@media (min-width: 1024px) {
  .section-menu .visuel {
    height: 383px;
  }
}

/*# sourceMappingURL=style.css.map */
