body {
  background-color: #F6F6F6;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, button {
  border: 0;
}

button {
  cursor: pointer;
}

ul li, ol li {
  list-style: none;
}

a:focus, input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.box-large {
  position: relative;
  width: 100%;
}

.hidetext {
  font-size: 0;
  line-height: 0;
  display: block;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

i {
  display: inline-flex;
}

.d-flex, .d-flex-col, .footer, .d-flex-col-center, .d-flex-center-center, .steps-list .step-item::before, .btn, .location, .d-flex-center, .steps-list .step-item {
  display: flex;
}

.d-flex-center, .steps-list .step-item {
  align-items: center;
}

.d-flex-center-center, .steps-list .step-item::before, .btn, .location {
  align-items: center;
  justify-content: center;
}

.d-flex-col, .footer, .d-flex-col-center {
  flex-direction: column;
}

.d-flex-col-center {
  align-items: center;
}

.d-inl-flex, .section-restaurants .list-restaurants .sticker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.428571429;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.tt-h1,
.tt-h2 {
  font-size: 24px;
  line-height: 28px;
}

.tt-h3 {
  font-size: 18px;
  line-height: 21px;
}

.chapo {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

a, button {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.header {
  background-color: #fff;
}
.header-logo a {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  color: #101010;
  line-height: 63px;
}

.location {
  padding: 0 20px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.location i {
  margin-right: 17px;
}

.footer {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #353535;
  text-align: left;
  line-height: 26px;
}
.footer-logo a {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  color: #fff;
}
.footer-links {
  margin-top: 16px;
}
.footer-links a {
  color: #fff;
}
.footer-links-icon a {
  font-weight: 500;
}
.footer-links-icon i {
  width: 12px;
  margin-right: 12px;
  font-size: 14px;
}
.footer-links-icon i.fa-handshake-angle {
  font-size: 11px;
}

.btn {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  display: inline-flex;
  height: 50px;
  padding: 0 19px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  color: #fff;
}
.btn:hover {
  background: linear-gradient(0deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card .visuel {
  height: 46.4vw;
}
.card .texte {
  padding: 16px 13px;
}
.card .texte .lieu {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}
a.card {
  display: block;
}

.list-restaurants .card a::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.list-restaurants .card .fav {
  position: absolute;
  bottom: 33px;
  right: 25px;
}

.fav {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 50;
  cursor: pointer;
}
.fav .like, .fav .like .lk-on, .fav .like .lk-off {
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.fav .like .lk-off {
  opacity: 1;
  background: #000;
  clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
}
.fav .like .lk-on {
  opacity: 0;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}
.fav input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.fav input[type=checkbox]:checked + .like .lk-off, .fav .like input[type=checkbox]:checked + .lk-off .lk-off, .fav .like input[type=checkbox]:checked + .lk-on .lk-off {
  opacity: 0;
}
.fav input[type=checkbox]:checked + .like .lk-on, .fav .like input[type=checkbox]:checked + .lk-off .lk-on, .fav .like input[type=checkbox]:checked + .lk-on .lk-on {
  opacity: 1;
}

.section-top {
  padding: 40px 0 57px;
}
.section-top .tt-h1 {
  padding: 0 25px;
}
.section-top .chapo {
  margin-top: 12px;
}
.section-top .cta {
  margin-top: 30px;
}

.section-steps {
  padding: 48px 0 68px;
  background-color: #fff;
  text-align: left;
}

.steps-list {
  margin-top: 25px;
  counter-reset: steps-counter;
}
.steps-list .step-item {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  height: 72px;
  margin-left: 13px;
  padding-left: 34px;
  background-color: #F6F6F6;
  border-radius: 20px;
  font-weight: 500;
}
.steps-list .step-item:not(:first-child) {
  margin-top: 25px;
}
.steps-list .step-item::before {
  content: counter(steps-counter);
  counter-increment: steps-counter;
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 24px;
  font-size: 14px;
  color: #F6F6F6;
  font-weight: 500;
}
.steps-list .step-item i {
  width: 18px;
  margin-right: 20px;
  font-size: 18px;
  color: #7E7E7E;
}
.steps-list .step-item-1 i {
  font-size: 20px;
}
.steps-list .step-item-2 i {
  font-size: 19px;
}
.steps-list .step-item-3 i {
  color: #9356DC;
}

.section-restaurants {
  padding: 54px 0 66px;
  text-align: left;
}
.section-restaurants .list-restaurants {
  margin-top: 20px;
}
.section-restaurants .list-restaurants .card + .card {
  margin-top: 18px;
}
.section-restaurants .list-restaurants .sticker {
  height: 29px;
  padding: 0 12px;
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  position: absolute;
  top: 12px;
  right: 12px;
}

/*# sourceMappingURL=style.css.map */
