.footer {
    @extend .d-flex-col;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: $text-alt-color;
    text-align: left;
    line-height: 26px;

    &-logo {
        a {
            font-family: $title-font;
            font-size: $font-size-big;
            color: $text-light;
        }
    }

    &-links {
        margin-top: 16px;

        a {
            color: $text-light;
        }
    }

    &-links-icon {
        a {
            font-weight: 500;
        }

        i {
            width: 12px;
            margin-right: 12px;
            font-size: 14px;

            &.fa-handshake-angle {
                font-size: 11px;
            }
        }
    }
}