.header {
    background-color: $bg-light;

    &-top {
        @extend .d-flex-center-center;
        position: relative;
        height: 63px;
    }

    .link {
        position: absolute;
        top: 50%;
        left: 23px;
        transform: translateY(-50%);

        &-back {
            display: flex;
            font-size: 22px;
            color: $text-alt-color;
        }
    }

    &-logo {
        width: 162px;
    }

    @include md {
        &-top {
            height: 96px;
        }

        &-logo {
            width: 200px;
        }
    }
}

.location {
    @extend .d-flex-center-center;
    padding: 0 20px;
    height: 50px;
    background-color: $loc-color;
    @include card-shadow(4, 0.25);
    font-weight: 500;

    i {
        margin-right: 17px;
    }

    @include md {
        box-shadow: none;
    }
}