.btn {
    @extend .d-flex-center-center;
    @include card-shadow(10, 0.25);
    display: inline-flex;
	height: 50px;
    padding: 0 19px;
    background: $btn-gradient;
    border-radius: 25px;
    color: $text-light;

    &-large {
        padding: 0 49px;
    }

    &:hover {
        background: $btn-hover-gradient;
        @include card-shadow(15, 0.35);
    }
}
