// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    @extend .d-flex-center-center;
    display: inline-flex;
	height: 50px;
    padding: 0 19px;
    background: $btn-gradient;
    border-radius: 25px;
    box-shadow: $btn-shadow;
    color: $text-light;

    @include lg {
        &:hover {
            background: $btn-hover-gradient;
            box-shadow: $btn-hover-shadow;
        }
    }
}
