.card {
    position: relative;
    background-color: $bg-light;
    border-radius: 15px;
    @include card-shadow;
    overflow: hidden;

    .visuel {
        height: 175px;
    }

    .texte {
        padding: 16px 13px;

        .paragraph {
            margin-top: 5px;
        }
    }

    @at-root #{selector-append('a', &)} {
        display: block;
    }

    .list-restaurants & {
        a::before {
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .fav {
            position: absolute;
            bottom: 33px;
            right: 25px;
        }
    }

    @include md {
        .texte {
            padding-right: 19px;
            padding-left: 19px;
        }
    }
}