.fav {
    position: relative;
    @include like-size;
    z-index: 50;
    cursor: pointer;
    
    .like {
        position: absolute;
        @include like-size;
        display: block;
        transition: all .3s ease-in-out;

        span {
            @extend .like;

            &::after {
                content: '';
                @include like-size;
                background-repeat: no-repeat;
                display: block;
            }

            &.lk-off {
                opacity: 1;
            
                &::after {
                    background-image: url(../images/like.svg);
                }
            }

            &.lk-on {
                opacity: 0;
                
                &::after {
                    background-image: url(../images/like-on.svg);
                }
            }
        }

        &:hover {
            .lk-off {
                opacity: 0;
            }

            .lk-on {
                opacity: 1;
            }
        }
    }

    input[type="checkbox"] { 
        position: absolute;
        opacity: 0;

        &:checked + .like {
            .lk-off {
                opacity: 0;
            }

            .lk-on {
                opacity: 1;
            }
        }
    }
}