body {
	background-color: $bg-color;
	text-align: center;

	&.pg-index {
		overflow: hidden;
		animation: no-scroll 6s forwards;
	}
}

@keyframes no-scroll {
    0%, 99% {
        overflow: hidden;
    }
    100% {
        overflow: auto;
    }
}

*, 
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img, button {
	border: 0;
}

button {
	cursor: pointer;
}

ul, ol {
	li {
		list-style: none;
	}
}

a:focus, input:focus, textarea:focus, select:focus, button:focus {
	outline: none;
}

.container {
	position: relative;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 20px;

	@include md {
		max-width: 1440px;
        padding: 0 40px;

		&.smaller {
			max-width: 1160px;
		}
    }
}

.box-large {
	position: relative;
	width: 100%;
}

.hidetext {
	font-size: 0;
	line-height: 0;
	display: block;
}

.img-responsive {
	width: 100%; 
	height: auto;
	display: block;
}

.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

i {
	display: inline-flex;
}

// positionning
.d-flex {
    display: flex;
}

.d-flex-center {
    @extend .d-flex;
    align-items: center;
}

.d-flex-center-center {
    @extend .d-flex;
    align-items: center;
    justify-content: center;
}

.d-flex-center-btw {
    @extend .d-flex;
    align-items: center;
    justify-content: space-between;
}

.d-flex-bot {
    @extend .d-flex;
    align-items: flex-end;
}

.d-flex-bot-btw {
    @extend .d-flex;
    align-items: flex-end;
    justify-content: space-between;
}

.d-flex-col {
    @extend .d-flex;
    flex-direction: column;
}

.d-flex-col-center {
    @extend .d-flex-col;
    align-items: center;
}

.d-inl-flex {
    display: inline-flex;
	align-items: center;
    justify-content: center;
}
