// --------------------------------------------------
// Typos
// --------------------------------------------------
body {
	font-family: $text-font;
	font-size: $font-size-base;
	color: $text-color;
	line-height: $line-height-base;
}

// titres
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.tt-h1, 
.tt-h2 {
	font-size: $font-size-title;
	line-height: 28px;
}

.tt-h3 {
	font-size: $font-size-big;
	line-height: 21px;
}

// paragraphes
.chapo {
	font-size: $font-size-big;
	font-weight: 300;
	line-height: 21px;
}

// liens - boutons
a, button {
	color: $text-color;
	text-decoration: none;
	transition: all 0.3s;
}

